{% load static %}

<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="{% static 'css/sanitize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <input type="radio" name="app" value="top" disabled/>
      <label for="top"
        ><a href="{% url 'list:index' %}" class="icons">🧰</a></label
      >
      <input type="radio" name="app" value="charcount" disabled/>
      <label for="charcount"
        ><a href="{% url 'character_counter:counter' %}" class="icons"
          >📑</a
        ></label
      >
      <input type="radio" name="app" value="dummytext" disabled/>
      <label for="dummytext"
        ><a href="{% url 'filler_text:filler_text' %}" class="icons"
          >📕</a
        ></label
      >
      <input type="radio" name="app" value="password" disabled/>
      <label for="password"
        ><a href="{% url 'filler_text:filler_text' %}" class="icons"
          >🔐</a
        ></label
      >
    </header>

    <main>{% block content %} {% endblock %}</main>

    <script src="{% static 'js/script.js' %}" defer></script>
  </body>
</html>
