{% extends 'base.html' %} {% block content %}

<script>
    window.onload = (function () {
    let apps = document.getElementsByName("app");
    apps[2].checked = true;
  })();
</script>

<div>
  <h3 class="index-icon">📘</h3>
  <h1>Dummy Text Generator</h1>
  <h2>ダミーテキストジェネレータ</h2>
</div>

<div>
  <form action="{% url 'filler_text:filler_text' %}" method="POST">
    {% csrf_token %}
    <p>
      {{ form.text }} から {{ form.count }} 文字 ( 空白を無くす {{ form.no_space }} )
    </p>
    <section class="buttons">
      <button class="primary" type="submit">生成</button>
      <button class="secondary" onclick="clearText()" type="button">
        リセット
      </button>
    </section>
  </form>
</div>

<div>
  <textarea
    onfocus="this.select();"
    cols="64"
    rows="10"
    readonly
    class="text_field"
    placeholder="ダミーテキストがここに生成されます"
  >
{{ result }}</textarea
  >
</div>
{% endblock %}
