{% extends 'base.html' %}
{% block title %}Plainly-Filler-Text{% endblock %}
{% block logo %}<a href="{% url 'filler_text:filler_text' %}">Plainly-Filler-Text</a>{% endblock %}
{% block content %}
<h2>ダミーテキスト生成機</h2>
<form action="{% url 'filler_text:filler_text' %}" method="POST">{% csrf_token %}
    <table>
        <tr>
            <td>テキスト</td>
            <td>：{{ form.text }}</td>
        </tr>
        <tr>
            <td>文字数</td>
            <td>：{{ form.count }}</td>
        </tr>
        <tr>
            <td>スペースの有無</td>
            <td>：{{ form.no_space }}</td>
        </tr>
    </table>
    <button type="submit">生成</button>
    <button onclick="clearText()" type="button">リセット</button>
</form>
<p><textarea onfocus="this.select();" cols="64" rows="10" readonly class="text_field" placeholder="ここにダミーテキストが生成されます。クリックすると全選択されます。">{{ result }}</textarea></p>
{% endblock %}
