{% extends 'base.html' %} {% block content %}

<div>
  <h1>Dummy Text Generator</h1>
  <h2>ダミーテキスト生成機</h2>
</div>

<div>
  <form action="{% url 'filler_text:filler_text' %}" method="POST">
    {% csrf_token %}
    <p>
      {{ form.text }} より {{ form.count }} 文字<br />
      (空白{{ form.no_space }})
    </p>
    <section class="buttons">
      <button class="primary" type="submit">生成</button>
      <button class="secondary" onclick="clearText()" type="button">
        リセット
      </button>
    </section>
  </form>
</div>

<div>
  <textarea>{{ result }}</textarea>
</div>

{% endblock %}
