{% extends 'base.html' %}
{% block title %}Plainly-ToolBox{% endblock title %}
{% block logo %}<a href="{% url 'list:index' %}">Plainly-ToolBox</a>{% endblock logo %}
{% block content %}
<table class="toolbox_table">
    <tr>
        <td><a href="{% url 'character_counter:counter' %}"><div class="tool_title"><h3>文字数カウント</h3></div></a></td>
        <td><a href="{% url 'filler_text:filler_text' %}"><div class="tool_title"><h3>ダミーテキスト生成</h3></div></a></td>
    </tr>
    <tr>
        <td><a href="{% url 'passwords_generator:passwords_generator' %}"><div class="tool_title"><h3>パスワード生成機</h3></div></a></td>
    </tr>
</table>

{% endblock %}
