{% extends 'base.html' %} {% block content %}

<div>
  <h1>Character Counter</h1>
  <h2>文字数カウンタ</h2>
</div>

<div>
  <form action="{% url 'character_counter:counter' %}" method="POST">
    {% csrf_token %} {{ form.text }}
    <section class="buttons">
      <button type="submit" class="primary">カウント</button>
      <button onclick="clearText()" type="button" class="secondary">
        リセット
      </button>
    </section>
  </form>
</div>

<div>
  <table>
    <tr>
      <td class="right">合計</td>
      <td><span>{{ no_space }}</span>文字</td>
    </tr>
    <tr>
      <td class="right">改行、スペース込み</td>
      <td><span>{{ number_of_character }}</span>文字</td>
    </tr>
    <tr>
      <td class="right">原稿用紙（400字詰）</td>
      <td><span>{{ manuscript_paper }}</span>枚分</td>
    </tr>
  </table>
</div>

{% endblock %}
