{% extends 'character_counter_base.html' %}

{% block content %}
<h1>文字数カウント</h1>
<form action="{% url 'character_counter:counter' %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">カウント</button>
    <button onclick="clearText()" type="button">リセット</button>
</form>
<table>
    <tr>
        <td>文字数（改行、スペース込み）</td>
        <td>：<input type="number" value="{{ number_of_character }}" class="text_field" readonly></td>
    </tr>
    <tr>
        <td>文字数（改行、スペース除く）</td>
        <td>：<input type="number" value="{{ no_space }}" class="text_field" readonly></td>
    </tr>
    <tr>
        <td>原稿用紙換算（400字詰めn枚）</td>
        <td>：<input type="number" value="{{ manuscript_paper }}" class="text_field" readonly></td>
    </tr>
</table>
{% endblock %}
